<% include partials/header %>

    <div class="container mt-5">
        <h1>Youtube Channel List</h1>
        <div class="row text-center justify-content-center mt-5">
            <div class="col-12 d-flex flex-wrap">
                <% docs.forEach(doc => { %>
                    <div class="col-md-6 col-lg-4">
                        <div class="card my-3">
                            <h5 class="card-header"><%= doc.type %></h5>
                            <div class="card-body">
                                <h5 class="card-title"><%= doc.name %></h5>
                                <p class="card-text lead"><%= doc.desc %></p>
                                <a href="<%= doc.link %>" class="btn btn-primary">Visit Channel</a>
                            </div>
                            <div class="my-2">
                                <a href="/index/<%= doc._id %>" class="btn btn-info">READ MORE</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

<% include partials/footer %>